body{
    background-image: url(images/back1.jpg);
}
#button{
    text-align: center;
    margin-top:100px;
}
button{
    height:50px;
    width:90px;
    border-radius: 20px;
    font-size:25px;
    color:black;
    background-color:#0099FF;
}
#title{
    float:left;
	font-family:skia;
	font-size:20px;
}
#add{
	height:20px;
	float:right;
	margin:20px;
}
#input{
	width:300px;
}