body{
    background-image: url(images/back1.jpg);
}
#title{
    float:left;
    font-size:30px;
    color:;
    margin-left:20px;
}
#add{
    height:100px;
    text-align:right;
    margin-right:300px;
    margin-top:30px;
}
#input{
    visibility:hidden;
    width:300px;
    right:100px;
    top:-10px;
}
#plus_sign{
    width:50px;
}
#video{
    width:600px;
    height:400px;
    margin:0 auto;
