body{
    background-color: #4da5ff;
}
#button{
    text-align: center;
    margin-top:100px;
}
button{
    height:50px;
    width:90px;
    border-radius: 20px;
    font-size:25px;
    color: #4da5ff;
    background-color: #ffffff;
}
#title{
	font-family: arial;
	font-size: 100px;
    text-shadow: 4px 4px #000000;
    color: white;
    text-align: center;
}
#tagline{
    
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: white;
}
