<html>
    <head>
        <title id="title">THIS IS THE ROOM</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='chat.css')}}">
        <script type="text/javascript" src="{{url_for('static', filename='chat.js')}}"></script>
    </head>
    <body>
        <div="page">
            <h1 id="title">You're in room {{ room_num }}</h1>

        <div id="add">
            <input type="text" onkeydown="if (event.keyCode == 13) document.getElementById('plus_sign').click()" id="input"><input type="button" id="plus_sign" onclick = "revealBox();" value= "+"></button>
        </div>

		<div id="player"></div>
        <div id="queue">
        </div>

        <div id="video">
        <article>
        </article>
        </div>
        <div id="users">
        
        </div>
        <div id="history">
        
        </div>
    </body>
</html>
