<html>
    <head>
        <title id="title">Room: {{room_num}}</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='chat.css')}}">
        <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
		<script>var room = {{room_num}};</script>
        <script type="text/javascript" src="{{url_for('static',filename='chat.js')}}"></script>
    </head>
    <body>
        <div="page">
		<div id="tablePrint"></div>
        <div id="add">
            <input type="text" onkeydown="if (event.keyCode == 13) document.getElementById('plus_sign').click()" id="input"><input type="button" id="plus_sign" onclick = "revealBox();" value= "+"></button>
        </div>

        <div id="queue">
        </div>

        <div id="player">
        </div>
        <div id="users">
        
        </div>
        <div id="history">
        </div>

        <style>
        #title{
            font-family:PT Sans;
        }
        </style>

    </body>
</html>
