<html>
    <head>
        <title id="title">THIS IS THE ROOM</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='chat.css')}}">
        <script src="chat.js"></script>
    </head>
    <body>

        <div="page">
            <h1 id="title">You're in room {{ room_num }}</h1>

    	<div id="add">
    		<form>
    			<input type="text" name="song" id="input"><input type="submit" value="Submit">
    		</form>
    	</div>

        <div id="queue">
        </div>

        <div id="video">
        
        </div>
        <div id="users">
        
        </div>
        <div id="history">
        
        </div>
    </body>
</html>
