<!DOCTYPE html>
<html>
    
    <head>
        <title id="title">TUNEROOM</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <div class="text">
            <h1 id="title">weMC</h1>
            <p id="tagline">making the world a better place through anonymous music sharing.</p>
            <div id="button">
                <form action="{{ url_for('join') }}" method="POST">
                    <button id="join">join</button>
                </form>
            </div>
        </div>
    </body>
</html>
